.container {
    width: 960px;
    margin: 0 auto;
}


.name {
    background-color: aqua;
    color: white;
    font-size: 25px;
    position: absolute;
    left: 0;
    padding: 12.5px;
}

.menu {
    position: absolute;
    right: 0;
    padding: 17px;
}

.menu li {
    display: inline;
    font-size: 16px;
    padding: 0 5px;
}

.positioning {
    position: relative;
}
